<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/taildwind.js"></script>
    <title>Reconocimiento Facial</title>
</head>
<body class="bg-slate-100 flex">

    <div class="mx-auto my-10 bg-white p-10  shadow-sm ">

        <h2 class="bg-blue-500 p-3 text-white shadow-sm rounded-t-md rounded-b-none text-center text-2xl font-bold">Reconocimiento Facial de usuarios</h2>

        <img class="w-full shadow-md" src="{{ url_for('video_feed') }}">

    </div>

</body>
</html>